{
  "components": {},
  "info": {
    "contact": {
      "email": "support@glama.ai",
      "name": "Glama",
      "url": "https://glama.ai"
    },
    "description": "The MCP API provides access to Glama's curated directory of MCP servers (https://glama.ai/mcp/servers). This vendored copy is a curated subset of glama.ai/api/mcp/openapi.json: the deprecated GET /v1/servers/{id} lookup is dropped (upstream points callers at /v1/servers/{namespace}/{slug}), the GET /v1/servers free-text `query` parameter is omitted because it would collide with ward-kdl's reserved `--query` projection flag, and an operationId is added to each operation (upstream ships none) so ward-kdl convention resolution can bind them. Curated for ward-kdl per ward#105.",
    "termsOfService": "https://glama.ai/policies/terms-of-service",
    "title": "Glama MCP API",
    "version": "1.0.0"
  },
  "openapi": "3.0.3",
  "paths": {
    "/v1/attributes": {
      "get": {
        "description": "The attribute vocabulary servers are tagged with. The API exposes a limited set to avoid breaking changes.",
        "operationId": "listAttributes",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Default Response"
          }
        },
        "summary": "MCP server attributes",
        "tags": [
          "Servers"
        ]
      }
    },
    "/v1/instances": {
      "get": {
        "description": "Use the SSE endpoint to connect to the instance.",
        "operationId": "listInstances",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Default Response"
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Default Response"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Default Response"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Hosted MCP server instances",
        "tags": [
          "Instances"
        ]
      }
    },
    "/v1/servers": {
      "get": {
        "description": "List MCP servers in the directory. Paginate with after/first.",
        "operationId": "listServers",
        "parameters": [
          {
            "description": "Pagination cursor.",
            "in": "query",
            "name": "after",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Page size.",
            "in": "query",
            "name": "first",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Default Response"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Default Response"
          }
        },
        "tags": [
          "Servers"
        ]
      }
    },
    "/v1/servers/{namespace}/{slug}": {
      "get": {
        "description": "Retrieve an MCP server's details by namespace and slug.",
        "operationId": "getServer",
        "parameters": [
          {
            "in": "path",
            "name": "namespace",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "slug",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Default Response"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Default Response"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Default Response"
          }
        },
        "tags": [
          "Servers"
        ]
      }
    },
    "/v1/telemetry/usage": {
      "post": {
        "description": "Send MCP tool usage data to the server.",
        "operationId": "createUsage",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Default Response"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Default Response"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {}
              }
            },
            "description": "Default Response"
          }
        },
        "tags": [
          "Telemetry"
        ]
      }
    }
  },
  "servers": [
    {
      "url": "https://glama.ai/api/mcp"
    }
  ],
  "tags": [
    {
      "description": "MCP server related endpoints",
      "name": "Servers"
    },
    {
      "description": "MCP server instances hosted by Glama.",
      "name": "Instances"
    },
    {
      "description": "MCP tool usage telemetry.",
      "name": "Telemetry"
    }
  ]
}
