smart-defaults {
    agent-reservation-ttl "3h"
    agent-reservation-recheck-max "15s"
    agent-reap-idle "1h"
    agent-reap-max-cpu "5.0"
    agent-image "forgejo.coilysiren.me/coilyco-flight-deck/agentic-os" // this needs to move into a ward repo hosted image ASAP
    agent-tag release
    container-memory-limit "2g"
    engineer-container-limit "10"
    engineer-open-pr-branch-limit "5"
    director-max-parallel "6"
    director-limit "50"
    director-poll-interval "30s"
    reviewer-timeout "8m"
    config-bundle-ttl "600s"
    container-assets-ttl "1h"
    container-read-only-extra-repo-ttl "24h"
    container-reap-keep "10"
    agent-workflow default=merge-remote-main {

    }
}
