openapi: 3.1.0
info:
  title: Tailscale API
  description: |-
    ### Overview

    **The API endpoints documented here are stable. However, the OpenAPI spec used to generate this documentation is unstable. It may change or break without notice.**

    The Tailscale API is a (mostly) RESTful API. Typically, both POST bodies and responses are JSON-encoded.

    ### Base URL

    The base URL for the Tailscale API is https://api.tailscale.com/api/v2/.

    Examples in this document may abbreviate this to `/api/v2/`.

    ### Authentication

    Requests to the Tailscale API are authenticated with an API access token (sometimes called an API key).
    Access tokens can be supplied as the username portion of HTTP Basic authentication
    (leave the password blank) or as an OAuth Bearer token:

    ```
    // passing token with basic auth
    curl -u "tskey-api-xxxxx:" https://api.tailscale.com/api/v2/...

    // passing token as bearer token
    curl -H "Authorization: Bearer tskey-api-xxxxx" https://api.tailscale.com/api/v2/...
    ```

    Access tokens for individual users can be created and managed from the [Keys](https://login.tailscale.com/admin/settings/keys) page of the admin console. These tokens will have the same permissions as the owning user, and can be set to expire in 1 to 90 days. Access tokens are identifiable by the prefix tskey-api-.

    Alternatively, a trust credential (OAuth client or federated identity) can be used to create short-lived access tokens with scoped permission. Trust credentials don't expire, and can therefore be used to provide ongoing access to the API, creating access tokens as needed. Trust credentials and the access tokens they create are not tied to an individual Tailscale user. OAuth client secrets are identifiable by the prefix tskey-client-. Learn more about [trust credentials][kb-trust-credentials].

    [kb-trust-credentials]: https://tailscale.com/kb/1623/

    ### Errors

    The Tailscale API returns status codes consistent with standard HTTP conventions. In addition to the status code, errors may include additional information in the response body:

    ```
    {
      "message": "additional error information"
    }
    ```

    ### Pagination

    The Tailscale API does not currently support pagination. All results are returned at once.
  termsOfService: https://tailscale.com/terms
  version: v2
  license:
    name: BSD 3-Clause
    url: https://github.com/tailscale/tailscale/blob/main/LICENSE
servers:
  - url: https://api.tailscale.com/api/v2
security:
  - bearerAuth: []
tags:
  - name: Devices
    description: |
      Manage devices.
      Learn more about [managing devices](/kb/1372/manage-devices).
  - name: PolicyFile
    x-displayName: Policy file
    description: |
      Manage a tailnet's policy file.
      Learn more about the [policy file and ACLs](/kb/1018/acls).
  - name: Keys
    description: |
      Manage auth keys and API access tokens.
      Learn more about [auth keys](/kb/1085/auth-keys) and [API access tokens](/kb/1101/api#authentication).
  - name: DNS
    description: |
      Manage a tailnet's DNS settings.
      Learn more about [DNS in Tailscale](/kb/1054/dns).
  - name: Logging
    description: |
      Manage and configure network logging, configuration logging, and log streaming for a tailnet.
      Learn more about [logging and events](/kb/1349/log-events).
  - name: Users
    description: |
      Manage and query users.
      Learn more about [managing users](/kb/1373/manage-users).
  - name: UserInvites
    x-displayName: User invites
    description: |
      Manage user invites.
      Learn more about about [inviting users](/kb/1371/invite-users).
  - name: DeviceInvites
    x-displayName: Device invites
    description: |
      Manage device invites.
      Learn more about [sharing devices](/kb/1084/sharing).
  - name: DevicePosture
    x-displayName: Device posture
    description: |
      Manage integrations with device posture data providers.
      Learn more about how to use [device posture data to secure a tailnet](/kb/1288/device-posture).
  - name: Contacts
    x-displayName: Contact preferences
    description: |
      Manage [contact preferences](/kb/1224/contact-preferences).
  - name: Webhooks
    description: |
      Manage webhook endpoints for a tailnet.
      Learn more about [webhooks](/kb/1213/webhooks).
  - name: TailnetSettings
    x-displayName: Tailnet settings
    description: |
      Manage settings for a tailnet.
  - name: Services
    x-displayName: Services
    description: |
      Manage Tailscale Services for a tailnet.
      Learn more about [Tailscale Services](/kb/1552/tailscale-services).
paths:
  /tailnet/{tailnet}/devices:
    parameters:
      - $ref: '#/components/parameters/tailnet'
      - $ref: '#/components/parameters/fields'
      - in: query
        name: <field>=<value> filters
        description: |
          This endpoint supports server-side filtering of devices by specifying one
          or more filters in the form `<field>=<value>`. Fields must be a top-level
          device property - e.g. `isEphemeral`, `tags`, `hostname`, etc. Values are
          matched as _exact_ matches. Properties with simple types (strings, numbers,
          dates, etc) and lists are supported. Properties that are complex objects
          (e.g. `clientConnectivity`) are not supported. When multiple parameters are
          provided, the server performs a logical `AND` across all filter parameters
          before returning results. For example,
          `isEphemeral=true&tags=tag:prod&tags=tag:subnetrouter` would return devices
          where `isEphemeral` is `true` and `tags` contains both `tag:prod` and
          `tag:subnetrouter`.
        schema:
          type: string
    get:
      summary: List tailnet devices
      description: |
        Lists the devices in a tailnet.

        OAuth Scope: `devices:core:read`.
      operationId: listTailnetDevices
      tags:
        - Devices
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: object
                properties:
                  devices:
                    type: array
                    items:
                      $ref: '#/components/schemas/Device'
        '404':
          description: Tailnet not found.
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
        '504':
          description: Request took too long to process, please try again later.
          $ref: '#/components/responses/504'
  /tailnet/{tailnet}/device-attributes:
    parameters:
      - $ref: '#/components/parameters/tailnet'
    patch:
      summary: Batch update custom device posture attributes
      description: |
        Batch updates posture attributes across devices in a tailnet.

        This endpoint uses [JSON Merge Patch](https://datatracker.ietf.org/doc/html/rfc7396) semantics.
        Specifying `null` for an attribute will delete that attribute.

        Attributes must be in the `custom:` namespace.

        OAuth Scope: `devices:posture_attributes`.
      operationId: batchUpdateCustomDevicePostureAttributes
      tags:
        - Devices
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nodes:
                  type: object
                  additionalProperties:
                    type: object
                    additionalProperties:
                      anyOf:
                        - type: object
                          properties:
                            value:
                              anyOf:
                                - type: string
                                - type: number
                                - type: boolean
                              description: |
                                Attribute value.
                            expiry:
                              type: string
                              format: date-time
                              description: |
                                Optional expiry time for the attribute.
                                If set, Tailscale automatically removes the attribute within
                                a few minutes after the specified time.
                          required:
                            - value
                        - type: 'null'
                      description: |
                        Attribute configuration with value and optional expiry, or `null` to delete the attribute.
                    description: |
                      A mapping of attribute name → attribute configuration for this device.
                  description: |
                    A mapping of deviceId → posture attributes.
                comment:
                  type: string
                  maxLength: 200
                  description: |
                    An optional comment indicating why attributes are being set,
                    which will be added to the audit log.
              example:
                nodes:
                  nPM2KNuedB21DEVEL:
                    custom:myattr:
                      value: my_value
                  nPpz3VEKzX11DEVEL:
                    custom:flag:
                      value: true
                      expiry: '2025-09-19T15:00:00Z'
                comment: bulk posture attribute update
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: 'null'
        '400':
          description: An invalid request payload was sent
          $ref: '#/components/responses/400'
        '404':
          description: Tailnet not found.
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  /device/{deviceId}:
    parameters:
      - $ref: '#/components/parameters/deviceId'
    get:
      summary: Get a device
      description: |
        Retrieve the details for the specified device.

        OAuth Scope: `devices:core:read`.
      operationId: getDevice
      tags:
        - Devices
      parameters:
        - $ref: '#/components/parameters/fields'
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Device'
        '400':
          description: Invalid ID supplied.
          $ref: '#/components/responses/400'
        '404':
          description: Device not found.
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
        '504':
          $ref: '#/components/responses/504'
    delete:
      summary: Delete a device
      description: |
        Deletes the device from its tailnet.
        The device must belong to the requesting user's tailnet.
        Deleting devices shared with the tailnet is not supported.

        OAuth Scope: `devices:core`.
      operationId: deleteDevice
      tags:
        - Devices
      responses:
        '200':
          description: Successful operation.
        '400':
          description: Invalid device value.
          $ref: '#/components/responses/400'
        '500':
          $ref: '#/components/responses/500'
        '501':
          description: Device not owned by tailnet.
          $ref: '#/components/responses/501'
        '504':
          $ref: '#/components/responses/504'
  /device/{deviceId}/expire:
    parameters:
      - $ref: '#/components/parameters/deviceId'
    post:
      summary: Expire a device's key
      description: |
        Mark a device's node key as expired.
        This will require the device to re-authenticate in order to connect to the tailnet.
        The device must belong to the requesting user's tailnet.

        OAuth Scope: `devices:core`.
      operationId: expireDeviceKey
      tags:
        - Devices
      responses:
        '200':
          description: Successful operation.
        '404':
          description: Device not found.
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
        '504':
          $ref: '#/components/responses/504'
  /device/{deviceId}/routes:
    parameters:
      - $ref: '#/components/parameters/deviceId'
    get:
      summary: List device routes
      description: |
        Retrieve the list of subnet routes that a device is advertising,
        as well as those that are enabled for it.

        Routes must be both advertised and enabled for a device to act as a subnet router or exit node.
        If a device has advertised routes, they are not exposed to traffic until they are enabled.
        Conversely, if routes are enabled before they are advertised, they are not available for routing until the device in question has advertised them.

        Learn more about [subnet routers](/kb/1019/subnets) and [exit nodes](/kb/1103/exit-nodes).

        OAuth Scope: `devices:routes:read`.
      operationId: listDeviceRoutes
      tags:
        - Devices
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceRoutes'
        '404':
          description: Device not found.
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
        '504':
          $ref: '#/components/responses/504'
    post:
      summary: Set device routes
      description: |
        Set a device's enabled subnet routes by replacing the existing list of subnet routes with the supplied parameters.
        [Advertised routes](/kb/1019/subnets#advertise-subnet-routes) cannot be set through the API, since they must be set directly on the device.

        Routes must be both advertised and enabled for a device to act as a subnet router or exit node.
        If a device has advertised routes, they are not exposed to traffic until they are enabled.
        Conversely, if routes are enabled before they are advertised, they are not available for routing until the device in question has advertised them.

        Learn more about [subnet routers](/kb/1019/subnets) and [exit nodes](/kb/1103/exit-nodes).

        OAuth Scope: `devices:routes`.
      operationId: setDeviceRoutes
      tags:
        - Devices
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                routes:
                  type: array
                  description: |
                    The new list of enabled subnet routes.
                  items:
                    type: string
                  example:
                    - 10.0.0.0/16
                    - 192.168.1.0/24
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceRoutes'
        '404':
          description: Device not found.
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
        '504':
          $ref: '#/components/responses/504'
  /device/{deviceId}/authorized:
    parameters:
      - $ref: '#/components/parameters/deviceId'
    post:
      summary: Authorize device
      description: |
        This call marks a device as authorized or revokes its authorization for tailnets where device authorization is required,
        according to the authorized field in the payload.

        OAuth Scope: `devices:core`.
      operationId: authorizeDevice
      tags:
        - Devices
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                authorized:
                  type: boolean
                  description: |
                    - If `true`, authorize a new device or re-authorize a previously deauthorized device.
                    - If `false`, deauthorize an authorized device.
              required:
                - authorized
      responses:
        '200':
          description: Successful operation.
        '404':
          description: Device not found.
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
        '504':
          $ref: '#/components/responses/504'
  /device/{deviceId}/name:
    parameters:
      - $ref: '#/components/parameters/deviceId'
    post:
      summary: Set device name
      description: |
        When a device is added to a tailnet, its Tailscale [device name](https://tailscale.com/kb/1098/machine-names) (also sometimes referred to as machine name) is generated from its OS hostname.
        The device name is the canonical name for the device on your tailnet.

        Device name changes immediately get propogated through your tailnet, so be aware that any existing [Magic DNS](https://tailscale.com/kb/1081/magicdns) URLs using the old name will no longer work.

        OAuth Scope: `devices:core`.
      operationId: setDeviceName
      tags:
        - Devices
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: |
                    The new name for the device.

                    This can be provided as either the fully qualified domain name for the device (e.g. "nodename.your-domain.ts.net")
                    or just the base name (e.g. "nodename").

                    If `name` is unset or provided empty, the device's name is reset to be
                    generated from its OS hostname.
                  example: dev-server
              required:
                - name
      responses:
        '200':
          description: Successful operation.
        '404':
          description: Device not found.
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
        '504':
          $ref: '#/components/responses/504'
  /device/{deviceId}/tags:
    parameters:
      - $ref: '#/components/parameters/deviceId'
    post:
      summary: Set device tags
      description: |
        Tags let you assign an identity to a device that is separate from human users, and use that identity as part of an ACL to restrict access.
        Tags are similar to role accounts, but more flexible.

        Tags are created in the tailnet policy file by defining the tag and an owner of the tag.
        Once a device is tagged, the tag is the owner of that device.
        A single node can have multiple tags assigned.

        Consult the policy file for your tailnet in the [admin console](https://login.tailscale.com/admin/acls) for the list of tags that have been created for your tailnet.
        Learn more about [tags](https://tailscale.com/kb/1068/).

        OAuth Scope: `devices:core`.
      operationId: setDeviceTags
      tags:
        - Devices
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                tags:
                  type: array
                  description: |
                    The new list of tags for the device.
                  items:
                    type: string
                  example:
                    - tag:foo
                    - tag:bar
      responses:
        '200':
          description: Successful operation.
        '400':
          $ref: '#/components/responses/400'
        '500':
          $ref: '#/components/responses/500'
        '504':
          $ref: '#/components/responses/504'
  /device/{deviceId}/key:
    parameters:
      - $ref: '#/components/parameters/deviceId'
    post:
      summary: Update device key
      description: |
        When a device is added to a tailnet, its key expiry is set according to the tailnet's key expiry setting.
        If the key is not refreshed and expires, the device can no longer communicate with other devices in the tailnet.

        OAuth Scope: `devices:core`.
      operationId: updateDeviceKey
      tags:
        - Devices
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                keyExpiryDisabled:
                  type: boolean
                  example: true
                  description: |
                    - If `true`, disable the device's key expiry. The original key expiry time is still maintained. Upon re-enabling, the key will expire at that original time.
                    - If `false`, enable the device's key expiry. Sets the key to expire at the original expiry time prior to disabling. The key may already have expired. In that case, the device must be re-authenticated.
              required:
                - keyExpiryDisabled
      responses:
        '200':
          description: Successful operation.
        '404':
          description: Device not found.
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
        '504':
          $ref: '#/components/responses/504'
  /device/{deviceId}/ip:
    parameters:
      - $ref: '#/components/parameters/deviceId'
    post:
      summary: Set device IPv4 address
      description: |
        When a device is added to a tailnet, its Tailscale IPv4 address is set at random either from the CGNAT range,
        or a subset of the CGNAT range specified by an [ip pool](https://tailscale.com/kb/1304/ip-pool).
        This endpoint can be used to replace the existing IPv4 address with a specific value.

        This action will break any existing connections to this machine.
        You will need to reconnect to this machine using the new IP address.
        You may also need to flush your DNS cache.

        OAuth Scope: `devices:core`.
      operationId: setDeviceIp
      tags:
        - Devices
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ipv4:
                  type: string
                  description: |
                    The new IPv4 address for the device.
                  example: 100.80.0.1
              required:
                - ipv4
      responses:
        '200':
          description: Successful operation.
        '404':
          description: Device not found.
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
        '504':
          $ref: '#/components/responses/504'
  /device/{deviceId}/attributes:
    parameters:
      - $ref: '#/components/parameters/deviceId'
    get:
      summary: Get device posture attributes
      description: |
        Retrieve all posture attributes for the specified device.
        This returns a JSON object of all the key-value pairs of posture attributes for the device.

        OAuth Scope: `devices:posture_attributes:read`.
      operationId: getDevicePostureAttributes
      tags:
        - Devices
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DevicePostureAttributes'
        '404':
          description: Device not found.
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
        '504':
          $ref: '#/components/responses/504'
  /device/{deviceId}/attributes/{attributeKey}:
    parameters:
      - $ref: '#/components/parameters/deviceId'
      - $ref: '#/components/parameters/attributeKey'
    post:
      summary: Set custom device posture attributes
      description: |
        Create or update a custom posture attribute on the specified device.
        User-managed attributes must be in the custom namespace,
        which is indicated by prefixing the attribute key with `custom:`.

        OAuth Scope: `devices:posture_attributes`.
      operationId: setCustomDevicePostureAttributes
      tags:
        - Devices
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                value:
                  anyOf:
                    - type: string
                    - type: number
                    - type: boolean
                  example: my_value
                  description: |
                    A value can be either a string, number or boolean.

                    A string value can have a maximum length of 50 characters,
                    and can only contain letters, numbers, underscores, and periods.

                    A number value is an integer and must be a JSON safe number (up to 2^53 - 1).
                expiry:
                  type: string
                  format: date-time
                  example: '2022-12-01T05:23:30Z'
                  description: |
                    An optional expiry time for a given posture attribute. If set, Tailscale
                    will automatically remove the attribute within a few minutes after the specified
                    time.
                comment:
                  type: string
                  maxLength: 200
                  description: |
                    An optional comment indicating a reason why an attribute is set,
                    which will be added to the audit log.
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DevicePostureAttributes'
        '404':
          description: Device not found.
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '504':
          $ref: '#/components/responses/504'
    delete:
      summary: Delete custom device posture attributes
      description: |
        Delete a posture attribute from the specified device.
        This is only applicable to user-managed posture attributes in the custom namespace,
        which is indicated by prefixing the attribute key with `custom:`.

        OAuth Scope: `devices:posture_attributes`.
      operationId: deleteCustomDevicePostureAttributes
      tags:
        - Devices
      responses:
        '200':
          description: Successful operation.
        '404':
          description: Device not found.
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '504':
          $ref: '#/components/responses/504'
  /device/{deviceId}/device-invites:
    parameters:
      - $ref: '#/components/parameters/deviceId'
    get:
      summary: List device invites
      description: |
        List all share invites for a device.

        OAuth Scope: `device_invites:read`.
      operationId: listDeviceInvites
      tags:
        - DeviceInvites
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DeviceInvite'
                example:
                  - id: '12345'
                    created: '2024-05-08T20:19:51.777861756Z'
                    tailnetId: 59954
                    deviceId: 11055
                    sharerId: 22011
                    allowExitNode: true
                    email: user@example.com
                    lastEmailSentAt: '2024-05-08T20:19:51.777861756Z'
                    inviteUrl: https://login.tailscale.com/admin/invite/<code>
                    accepted: false
                  - id: '12346'
                    created: '2024-04-03T21:38:49.333829261Z'
                    tailnetId: 59954
                    deviceId: 11055
                    sharerId: 22012
                    inviteUrl: https://login.tailscale.com/admin/invite/<code>
                    accepted: true
                    acceptedBy:
                      id: 33223
                      loginName: someone@example.com
                      profilePicUrl: ''
        '404':
          description: Device not found.
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
        '504':
          $ref: '#/components/responses/504'
    post:
      summary: Create device invites
      description: |
        Create new share invites for a device.

        Note that device invites cannot be created using an API access token generated from an OAuth client as the shared device is scoped to a user.
      operationId: createDeviceInvites
      tags:
        - DeviceInvites
      requestBody:
        description: Device invites to create.
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  multiUse:
                    type: boolean
                    example: false
                    description: |
                      Whether the invite can be accepted more than once.
                      When set to `true`, it results in an invite that can be accepted up to 1,000 times.
                  allowExitNode:
                    type: boolean
                    example: false
                    description: |
                      Whether the invited user can use the device as an exit node when it advertises as one.
                  email:
                    type: string
                    example: user@example.com
                    description: |
                      The email to send the created invite to.
                      If not set, the endpoint generates and returns an invite URL (but doesn't send it out).
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DeviceInvite'
                example:
                  - id: '12345'
                    created: '2024-05-08T20:19:51.777861756Z'
                    tailnetId: 59954
                    deviceId: 11055
                    sharerId: 22011
                    allowExitNode: true
                    email: user@example.com
                    lastEmailSentAt: '2024-05-08T20:19:51.777861756Z'
                    inviteUrl: https://login.tailscale.com/admin/invite/<code>
                    accepted: false
                  - id: '12346'
                    created: '2024-04-03T21:38:49.333829261Z'
                    tailnetId: 59954
                    deviceId: 11055
                    sharerId: 22012
                    inviteUrl: https://login.tailscale.com/admin/invite/<code>
                    accepted: false
        '404':
          description: Device not found.
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
        '504':
          $ref: '#/components/responses/504'
  /tailnet/{tailnet}/user-invites:
    parameters:
      - $ref: '#/components/parameters/tailnet'
    get:
      summary: List user invites
      description: List all open (not yet accepted) user invites to the tailnet.
      operationId: listUserInvites
      tags:
        - UserInvites
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserInvite'
                example:
                  - id: '29214'
                    role: admin
                    tailnetId: 12345
                    inviterId: 34567
                    email: user@example.com
                    lastEmailSentAt: '2024-05-09T16:23:26.91778771Z'
                    inviteUrl: https://login.tailscale.com/uinv/<code>
                  - id: '29215'
                    role: admin
                    tailnetId: 12345
                    inviterId: 34567
                    email: someoneelse@example.com
                    lastEmailSentAt: '2024-05-09T17:23:30.91778771Z'
                    inviteUrl: https://login.tailscale.com/uinv/<code>
        '404':
          description: Tailnet not found.
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
    post:
      summary: Create user invites
      description: |
        Create, and optionally email out, new user invites to join the tailnet.

        > ⓘ Only permitted for user-owned keys, because invites require an inviting user.
      operationId: createUserInvites
      tags:
        - UserInvites
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  role:
                    type: string
                    enum:
                      - member
                      - admin
                      - it-admin
                      - network-admin
                      - billing-admin
                      - auditor
                    default: member
                    example: admin
                    description: |
                      Optionally specifies a user role to assign the invited user.
                  email:
                    type: string
                    example: user@example.com
                    description: |
                      Optionally specifies the email to send the created invite.
                      If not set, the endpoint generates and returns an invite URL, but does not email it out.
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserInvite'
                example:
                  - id: '29214'
                    role: admin
                    tailnetId: 12345
                    inviterId: 34567
                    email: user@example.com
                    lastEmailSentAt: '2024-05-09T16:23:26.91778771Z'
                    inviteUrl: https://login.tailscale.com/uinv/<code>
        '404':
          description: Tailnet not found.
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  /user-invites/{userInviteId}:
    parameters:
      - $ref: '#/components/parameters/userInviteId'
    get:
      summary: Get a user invite
      description: |
        Retrieve a specific user invite.
      operationId: getUserInvite
      tags:
        - UserInvites
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserInvite'
        '404':
          description: User invite not found.
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
    delete:
      summary: Delete a user invite
      description: |
        Deletes a specific user invite.

        > ⓘ Only permitted for user-owned keys, because invites require an inviting user.
      operationId: deleteUserInvite
      tags:
        - UserInvites
      responses:
        '200':
          description: Successful operation.
        '404':
          description: User invite not found.
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  /user-invites/{userInviteId}/resend:
    parameters:
      - $ref: '#/components/parameters/userInviteId'
    post:
      summary: Resend a user invite
      description: |
        Resend a user invite by email. You can only use this if the specified invite
        was originally created with an email specified.
        Refer to [creating user invites for a tailnet](#tag/userinvites/post/tailnet/{tailnet}/user-invites).

        Note: Invite resends are rate limited to one per minute.

        > ⓘ Only permitted for user-owned keys, because invites require an inviting user.
      operationId: resendUserInvite
      tags:
        - UserInvites
      responses:
        '200':
          description: Successful operation.
        '404':
          description: User invite not found.
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  /device-invites/{deviceInviteId}:
    parameters:
      - $ref: '#/components/parameters/deviceInviteId'
    get:
      summary: Get a device invite
      description: |
        Retrieve a specific device invite.

        OAuth Scope: `device_invites:read`.
      operationId: getDeviceInvite
      tags:
        - DeviceInvites
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceInvite'
        '404':
          description: Device invite not found.
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
    delete:
      summary: Delete a device invite
      description: |
        Delete a specific device invite.

        OAuth Scope: `device_invites`.
      operationId: deleteDeviceInvite
      tags:
        - DeviceInvites
      responses:
        '200':
          description: Successful operation.
        '404':
          description: Device invite not found.
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  /device-invites/{deviceInviteId}/resend:
    parameters:
      - $ref: '#/components/parameters/deviceInviteId'
    post:
      summary: Resend a device invite
      description: |
        Resend a device invite by email. You can only use this if the specified invite
        was originally created with an email specified.
        Refer to [creating device invites for a device](#tag/deviceinvites/post/device/{deviceId}/device-invites).

        Note: Invite resends are rate limited to one per minute.

        Note that device invites cannot be resent using an API access token generated from an OAuth client as the shared device is scoped to a user.
      operationId: resendDeviceInvite
      tags:
        - DeviceInvites
      responses:
        '200':
          description: Successful operation.
        '404':
          description: Device invite not found.
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  /device-invites/-/accept:
    post:
      summary: Accept a device invite
      description: |
        Accepts the invitation to share a device into the requesting user's tailnet.

        Note that device invites cannot be accepted using an API access token generated from an OAuth client as the shared device is scoped to a user.
      operationId: acceptDeviceInvite
      tags:
        - DeviceInvites
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                invite:
                  type: string
                  example: https://login.tailscale.com/admin/invite/xxxxxx
                  description: |
                    The URL of the invite (in the form `https://login.tailscale.com/admin/invite/{code}`) or the `{code}` component of the URL.
              required:
                - invite
            examples:
              usingFullUrl:
                summary: Using the full invite URL
                value:
                  invite: https://login.tailscale.com/admin/invite/xxxxxx
              usingCodeComponent:
                summary: Using `code` component of the invite URL
                value:
                  invite: xxxxxx
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: object
                properties:
                  device:
                    type: object
                    description: |
                      Information about the device being shared.
                    properties:
                      id:
                        type: string
                        example: '12346'
                        description: |
                          The `nodeId` for the device.
                      os:
                        type: string
                        example: iOS
                        description: |
                          The operating system that the device is running.
                      name:
                        type: string
                        example: my-phone
                        description: |
                          The name of the device.
                      fqdn:
                        type: string
                        example: my-phone.something.ts.net
                        description: |
                          The MagicDNS name of the device.
                          Learn more about MagicDNS at https://tailscale.com/kb/1081/.
                      ipv4:
                        type: string
                        example: 100.x.y.z
                        description: |
                          The IPv4 address of the device.
                      ipv6:
                        type: string
                        example: fd7a:115c:x::y:z
                        description: |
                          The IPv6 address of the device.
                      includeExitNode:
                        type: boolean
                        example: false
                        description: |
                          Specifies whether the invited user is able to use the
                          device as an exit node when the device is advertising as one.
                  sharer:
                    type: object
                    description: |
                      The user who create the device share invite.
                    properties:
                      id:
                        type: string
                        example: '22012'
                        description: |
                          The ID of the user who created the share invite.
                      displayName:
                        type: string
                        example: Some User
                        description: |
                          The display name of the user who created the share invite.
                      loginName:
                        type: string
                        example: someuser@example.com
                        description: |
                          The email address of the user who created the share invite.
                      profilePicURL:
                        type: string
                        example: ''
                        description: |
                          The profile pic URL for the user who created the share invite.
                  acceptedBy:
                    type: object
                    description: |
                      The user accepting the device share invite.
                    properties:
                      id:
                        type: string
                        example: '33233'
                        description: |
                          The ID of the user who accepted the share invite.
                      displayName:
                        type: string
                        example: Another User
                        description: |
                          The display name of the user who accepted the share invite.
                      loginName:
                        type: string
                        example: anotheruser@example2.com
                        description: |
                          The email address of the user who accepted the share invite.
                      profilePicURL:
                        type: string
                        example: ''
                        description: |
                          The profile pic URL for the user who accepted the share invite.
        '400':
          $ref: '#/components/responses/400'
        '500':
          $ref: '#/components/responses/500'
  /tailnet/{tailnet}/logging/configuration:
    parameters:
      - $ref: '#/components/parameters/tailnet'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
      - $ref: '#/components/parameters/actor'
      - $ref: '#/components/parameters/target'
      - $ref: '#/components/parameters/event'
    get:
      summary: List configuration audit logs
      description: |
        List all configuration audit logs for a tailnet.

        OAuth Scope: `logs:configuration:read`.
      operationId: listConfigurationAuditLogs
      tags:
        - Logging
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: object
                description: A structured response for all of a Tailnet's audit logs over a period of time.
                properties:
                  version:
                    type: string
                    description: Version of audit logs response.
                    example: '1.1'
                  tailnet:
                    type: string
                    example: example.com
                    description: The tailnet on which the logged configuration changes were made.
                  logs:
                    type: array
                    description: Matching log entries, ordered chronologically.
                    items:
                      $ref: '#/components/schemas/ConfigurationAuditLog'
        '400':
          description: Request has missing or invalid parameter(s).
          $ref: '#/components/responses/400'
        '403':
          description: User does not have sufficient access to view configuration audit logs.
          $ref: '#/components/responses/403'
        '404':
          description: Logging is not supported on this deployment of Tailscale.
          $ref: '#/components/responses/404'
  /tailnet/{tailnet}/logging/network:
    parameters:
      - $ref: '#/components/parameters/tailnet'
      - $ref: '#/components/parameters/start'
      - $ref: '#/components/parameters/end'
    get:
      summary: List network flow logs
      description: |
        List all network flow logs for a tailnet.

        OAuth Scope: `logs:network:read`.
      operationId: listNetworkFlowLogs
      tags:
        - Logging
      responses:
        '200':
          description: Successful operation. The `logs` field contains an array of [NetworkFlowLog](#model/networkflowlog) objects.
          content:
            application/json:
              schema:
                type: object
                description: A structured response for all of a Tailnet's network flow logs over a period of time.
                properties:
                  logs:
                    type: array
                    description: Matching log entries, ordered chronologically.
                    items:
                      $ref: '#/components/schemas/NetworkFlowLog'
        '400':
          description: Request has missing or invalid parameter(s).
          $ref: '#/components/responses/400'
        '403':
          description: User does not have sufficient access to view network flow logs.
          $ref: '#/components/responses/403'
        '404':
          description: Logging is not supported on this deployment of Tailscale.
          $ref: '#/components/responses/404'
        '502':
          description: The system was unable to communicate with logging server.
          $ref: '#/components/responses/502'
  /tailnet/{tailnet}/logging/{logType}/stream/status:
    parameters:
      - $ref: '#/components/parameters/tailnet'
      - $ref: '#/components/parameters/logType'
    get:
      summary: Get log streaming status
      description: |
        Retrieve the log streaming status for the provided log type.

        OAuth Scope: `log_streaming:read`.
      operationId: getLogStreamingStatus
      tags:
        - Logging
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogstreamEndpointPublishingStatus'
        '404':
          description: Log streaming has not been configured, this `logType` is not supported, or user does not have sufficient access to view log streaming status.
          $ref: '#/components/responses/404'
        '502':
          description: The system was unable to communicate with logging server.
          $ref: '#/components/responses/502'
  /tailnet/{tailnet}/logging/{logType}/stream:
    parameters:
      - $ref: '#/components/parameters/tailnet'
      - $ref: '#/components/parameters/logType'
    get:
      summary: Get log streaming configuration
      description: |
        Retrieve the log streaming configuration for the provided log type.

        OAuth Scope: `log_streaming:read`.
      operationId: getLogStreamingConfiguration
      tags:
        - Logging
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LogstreamEndpointConfiguration'
        '404':
          description: Log streaming has not been configured, this `logType` is not supported, or user does not have sufficient access to view log streaming configuration.
          $ref: '#/components/responses/404'
    put:
      summary: Set log streaming configuration
      description: |
        Set the log streaming configuration for the provided log type.

        OAuth Scope: `log_streaming`. `device_invites` and `policy_file` are also required if streaming to a [private endpoint](https://tailscale.com/kb/1255/log-streaming#private-endpoints).
      operationId: setLogStreamingConfiguration
      tags:
        - Logging
      requestBody:
        description: |
          The [LogstreamEndpointConfiguration](#model/logstreamendpointconfiguration) to set.
          `logType` is specified in the request URL rather than the body.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LogstreamEndpointConfiguration'
            example:
              destinationType: elastic
              url: http://100.71.134.73:80/config-log-datastream
              user: myusername
              token: mytoken
      responses:
        '200':
          description: Successful operation.
        '400':
          description: Request has missing or invalid parameter(s).
          $ref: '#/components/responses/400'
        '403':
          description: User does not have sufficient access to update log streaming configuration.
          $ref: '#/components/responses/403'
        '404':
          description: Tailnet not found, this `logType` is not supported, or user does not have sufficient access to view log streaming configuration.
          $ref: '#/components/responses/404'
    delete:
      summary: Disable log streaming
      description: |
        Delete the log streaming configuration for the provided log type.

        OAuth Scope: `log_streaming`.
      operationId: disableLogStreaming
      tags:
        - Logging
      responses:
        '200':
          description: Successful operation.
        '403':
          description: User does not have sufficient access to update log streaming configuration.
          $ref: '#/components/responses/403'
        '404':
          description: Log streaming has not been configured, this `logType` is not supported, or user does not have sufficient access to view log streaming configuration.
          $ref: '#/components/responses/404'
  /tailnet/{tailnet}/aws-external-id:
    parameters:
      - $ref: '#/components/parameters/tailnet'
    post:
      summary: Create or get AWS external id
      description: |
        Get an AWS external id to use for streaming tailnet logs to S3 using role-based authentication,
        creating a new one for this tailnet when necessary.

        OAuth Scope: `log_streaming`.
      operationId: getAwsExternalId
      tags:
        - Logging
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reusable:
                  type: boolean
                  description: If set to true, this same AWS external id will be returned on future calls to this endpoint, if and only if those calls also mark `reusable` as true, and the ID has not yet been linked with an AWS account.
            example:
              reusable: true
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AwsExternalId'
        '403':
          description: User does not have sufficient access to obtain an AWS external id.
          $ref: '#/components/responses/403'
        '404':
          description: Tailnet not found.
          $ref: '#/components/responses/404'
  /tailnet/{tailnet}/aws-external-id/{id}/validate-aws-trust-policy:
    parameters:
      - $ref: '#/components/parameters/tailnet'
      - name: id
        in: path
        description: The AWS external ID to validate.
        required: true
        example: 60fe9ce7-7791-4ab3-ab34-4294f5972725
        schema:
          type: string
    post:
      summary: Validate external ID integration with IAM role trust policy
      description: |
        Validate that Tailscale can assume your IAM role with (and only with)
        this external ID.

        OAuth Scope: `log_streaming`.
      operationId: validateAwsExternalId
      tags:
        - Logging
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                roleArn:
                  type: string
                  description: ARN of the AWS IAM role to validate with this external ID.
              example:
                roleArn: arn:aws:iam::000000000000:role/tailscale-log-writer
      responses:
        '200':
          description: Validation succeeded for this external ID and IAM role.
        '403':
          description: User does not have sufficient access for this tailnet.
          $ref: '#/components/responses/403'
        '404':
          description: Tailnet or external ID not found.
          $ref: '#/components/responses/404'
        '422':
          description: Validation failed for this external ID and IAM role.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: The reason for validation failure.
  /tailnet/{tailnet}/dns/nameservers:
    parameters:
      - $ref: '#/components/parameters/tailnet'
    get:
      summary: List DNS nameservers
      description: |
        Lists the global DNS nameservers for a tailnet.
      operationId: listDnsNameservers
      tags:
        - DNS
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: object
                properties:
                  dns:
                    type: array
                    items:
                      type: string
                    example:
                      - 8.8.8.8
                      - 1.2.3.4
                    description: |
                      DNS nameservers.
        '404':
          description: Tailnet not found.
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
    post:
      summary: Set DNS nameservers
      description: |
        Replaces the list of global DNS nameservers for the given tailnet with the list supplied in the request.

        Note that changing the list of DNS nameservers may also affect the status of MagicDNS (if MagicDNS is on; learn about [MagicDNS](https://tailscale.com/kb/1081)).
        If all nameservers have been removed, MagicDNS will be automatically disabled (until explicitly turned back on by the user).
      operationId: setDnsNameservers
      tags:
        - DNS
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                dns:
                  type: array
                  items:
                    type: string
                  example:
                    - 8.8.8.8
                    - 1.2.3.4
                  description: |
                    DNS nameservers.
      responses:
        '200':
          description: Succesful operation.
          content:
            application/json:
              schema:
                type: object
                properties:
                  dns:
                    type: array
                    items:
                      type: string
                    example:
                      - 8.8.8.8
                      - 1.2.3.4
                    description: |
                      DNS nameservers.
                  magicDNS:
                    type: boolean
                    example: true
                    description: |
                      Whether MagicDNS is active for this tailnet.
        '404':
          description: Tailnet not found.
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  /tailnet/{tailnet}/dns/preferences:
    parameters:
      - $ref: '#/components/parameters/tailnet'
    get:
      summary: Get DNS preferences
      description: |
        Retrieves the DNS preferences that are currently set for the given tailnet.
      operationId: getDnsPreferences
      tags:
        - DNS
      responses:
        '200':
          description: Succesful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DnsPreferences'
        '404':
          description: Tailnet not found.
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
    post:
      summary: Set DNS preferences
      description: |
        Set the DNS preferences for a tailnet; specifically, the MagicDNS setting.
        Note that MagicDNS is dependent on DNS servers.
        Learn about [MagicDNS](https://tailscale.com/kb/1081).

        If there is at least one DNS server, then MagicDNS can be enabled.
        Otherwise, it returns an error.

        Note that removing all nameservers will turn off MagicDNS.
        To reenable it, nameservers must be added back, and MagicDNS must be explicitly turned on.
      operationId: setDnsPreferences
      tags:
        - DNS
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DnsPreferences'
      responses:
        '200':
          description: Succesful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DnsPreferences'
        '404':
          description: Tailnet not found.
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  /tailnet/{tailnet}/dns/searchpaths:
    parameters:
      - $ref: '#/components/parameters/tailnet'
    get:
      summary: List DNS search paths
      description: |
        Retrieves the list of search paths, also referred to as *search domains*, that is currently set for the given tailnet.
      operationId: listDnsSearchPaths
      tags:
        - DNS
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DnsSearchPaths'
        '404':
          description: Tailnet not found.
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
    post:
      summary: Set DNS search paths
      description: |
        Replaces the list of search paths for the given tailnet.
      operationId: setDnsSearchPaths
      tags:
        - DNS
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DnsSearchPaths'
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DnsSearchPaths'
        '404':
          description: Tailnet not found.
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  /tailnet/{tailnet}/dns/split-dns:
    parameters:
      - $ref: '#/components/parameters/tailnet'
    get:
      summary: Get split DNS
      description: |
        Retrieves the split DNS settings, which is a map from domains to lists of nameservers, that is currently set for the given tailnet.
      operationId: getSplitDns
      tags:
        - DNS
      responses:
        '200':
          description: Succesful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SplitDns'
        '404':
          description: Tailnet not found.
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
    patch:
      summary: Update split DNS
      description: |
        Performs partial updates of the split DNS settings for a given tailnet.
        Only domains specified in the request map will be modified.
        Setting the value of a mapping to `null` clears the nameservers for that domain.
      operationId: updateSplitDns
      tags:
        - DNS
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SplitDns'
      responses:
        '200':
          description: Succesful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SplitDns'
        '404':
          description: Tailnet not found.
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
    put:
      summary: Set split DNS
      description: |
        Replaces the split DNS settings for a given tailnet.
        Setting the value of a mapping to `null` clears the nameservers for that domain.
        Sending an empty object clears nameservers for all domains.
      operationId: setSplitDns
      tags:
        - DNS
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SplitDns'
      responses:
        '200':
          description: Succesful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SplitDns'
        '404':
          description: Tailnet not found.
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  /tailnet/{tailnet}/dns/configuration:
    parameters:
      - $ref: '#/components/parameters/tailnet'
    get:
      summary: Get DNS configuration
      description: |
        Retrieves the full DNS configuration for a tailnet, including global nameservers, split DNS routes, search paths, and MagicDNS configuration.
      operationId: getDnsConfiguration
      tags:
        - DNS
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DnsConfiguration'
        '404':
          description: Tailnet not found.
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
    post:
      summary: Set DNS configuration
      description: |
        Replaces the DNS configuration for the given tailnet.

        - `nameservers` defines the global resolvers to use when `preferences.overrideLocalDNS` is true.
        - `splitDNS` maps DNS name suffixes (domains) to lists of resolvers for Split DNS.
        - `searchPaths` sets custom DNS search domain paths.
        - `preferences.overrideLocalDNS` controls whether resolvers in `nameservers` override the local OS configuration (true) or are used or local resolvers are used (false). Defaults to false.
        - `preferences.magicDNS` enables MagicDNS. Defaults to false.
      operationId: setDnsConfiguration
      tags:
        - DNS
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DnsConfiguration'
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DnsConfiguration'
        '404':
          description: Tailnet not found.
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  /tailnet/{tailnet}/keys:
    parameters:
      - $ref: '#/components/parameters/tailnet'
    get:
      summary: List tailnet keys
      description: |
        Returns a list of active auth keys, API access tokens and trust credentials.

        If the parameter {all} was not specified, the set of keys returned depends on the access token used to make the request:
        - If the API call is made with a user-owned API access token, this returns only the keys owned by that user.
        - If the API call is made with an access token derived from an OAuth client, this returns all OAuth clients for the tailnet.
        - If the API call is made with an access token derived from a federated identity, this returns all federated identities for the tailnet.

        OAuth Scope: `api_access_tokens:read` grants access to personal API access tokens.

        OAuth Scope: `auth_keys:read` grants access to machine auth keys.

        OAuth Scope: `oauth_keys:read` grants access to OAuth clients and OAuth tokens.

        OAuth Scope: `federated_keys:read` grants access to federated identities.
      operationId: listTailnetKeys
      tags:
        - Keys
      parameters:
        - $ref: '#/components/parameters/all'
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: object
                properties:
                  keys:
                    type: array
                    description: A list of the active keys.
                    items:
                      $ref: '#/components/schemas/Key'
                    example:
                      - id: XXXX14CNTRL
                        keyType: client
                        created: '2021-12-09T23:22:39Z'
                        scopes:
                          - all
                        description: test key
                        userId: uscwcTtzzo11DEVEL
                      - id: XXXXZ3CNTRL
                        keyType: api
                        expirySeconds: 7776000
                        created: '2021-12-09T23:22:39Z'
                        expires: '2022-03-09T23:22:39Z'
                        scopes:
                          - all
                        description: production key
                        userId: uscwcTtzzo11DEVEL
                      - id: XXXX43CNTRL
                        keyType: auth
                        expirySeconds: 7776000
                        created: '2021-12-09T23:22:39Z'
                        expires: '2022-03-09T23:22:39Z'
                        capabilities:
                          devices:
                            create:
                              reusable: true
                              ephemeral: false
                              preauthorized: true
                              tags:
                                - tag:example
                        description: dev access
                        userId: uscwcTtzzo11DEVEL
        '404':
          description: Tailnet not found.
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
    post:
      summary: Create an auth key or trust credential
      description: |
        Creates a new [auth key](https://tailscale.com/kb/1085/), or [trust credential](https://tailscale.com/kb/1623/) in the specified tailnet.
        Trust credentials include [OAuth clients](https://tailscale.com/kb/1215/) and [federated identities](https://tailscale.com/kb/1581/).
        The key will be associated with the user who owns the API access token used to make this call,
        or, if the call is made with an access token derived from an OAuth client or federated identity, the key will be owned by the tailnet.

        Returns a JSON object with the generated key.
        The key should be recorded and kept safe and secure because it wields the capabilities or scopes specified in the request.
        The identity of the key is embedded in the key itself and can be used to perform operations on the key (e.g., revoking it or retrieving information about it).
        The full key can no longer be retrieved after the initial response.

        OAuth Scope: `auth_keys` grants access to create machine auth keys.

        OAuth Scope: `oauth_keys` grants access to create OAuth clients.

        OAuth Scope: `federated_keys` grants access to created federated identities.
      operationId: createKey
      tags:
        - Keys
      requestBody:
        description: |
          The supported fields vary depending on the value of the `keyType` field.

          For auth keys, at a minimum, the request POST body must have a `capabilities` object with a `devices` object,
          though it can be an empty JSON object.
          With nothing else supplied, such a request generates a single-use key with no tags.

          For OAuth clients, at a minimum the request POST body must have at least one scope.

          For federated identities, at a minimum the request POST body must have at least one scope, a valid issuer, and a subject.
        content:
          application/json:
            schema:
              type: object
              properties:
                keyType:
                  type: string
                  enum:
                    - auth
                    - client
                    - federated
                  description: |
                    The type of key to create. Defaults to "auth" if omitted.
                description:
                  type: string
                  description: |
                    A short string specifying the purpose of the key. Can be a maximum of 50 alphanumeric characters. Hyphens and spaces are also allowed.
                  example: dev access
                capabilities:
                  $ref: '#/components/schemas/KeyCapabilities'
                expirySeconds:
                  type: integer
                  format: int64
                  description: |
                    Specifies the duration in seconds until the key expires. Defaults to 90 days if not supplied.

                    Only applies to auth keys.
                  example: 86400
                scopes:
                  type: array
                  description: |
                    A list of scopes to grant to the key. At least one scope is required for OAuth clients and federated identities.
                    See [trust credentials scopes](https://tailscale.com/kb/1623/trust-credentials#scopes) for a list of available scopes.

                    Only applies to OAuth clients and federated identities.
                  items:
                    type: string
                  example:
                    - all:read
                tags:
                  type: array
                  description: |
                    A list of tags associated to the trust credential. Auth keys created with this credential must have these exact tags, or tags owned by the credential's tags.
                    Mandatory if the scopes include "devices:core" or "auth_keys".

                    Only applies to OAuth clients and federated identities.
                  items:
                    type: string
                  example:
                    - tag:example
                issuer:
                  type: string
                  format: uri
                  description: |
                    The issuer of the OIDC identity token used in the token exchange. Must be a valid and publicly reachable https:// URL.

                    Only applies to federated identities.
                  example: https://example.com
                subject:
                  type: string
                  description: |
                    The pattern used when matching against the `sub` claim from an OIDC identity token.
                    Patterns can include `*` characters to match against any character.

                    Only applies to federated identities.
                  example: my-example-subject-*
                audience:
                  type: string
                  description: |
                    The value used when matching against the `aud` claim from an OIDC identity token.

                    Specifying the audience is optional as Tailscale will generate a secure audience at creation time by default.
                    It is recommended to let Tailscale generate the audience unless the identity provider you are integrating with
                    requires a specific audience format.

                    Only applies to federated identities.
                  example: api.tailscale.com/Tz8TefihCR11DEVEL-kqc11MVpwu11DEVEL
                customClaimRules:
                  type: object
                  additionalProperties:
                    x-additionalPropertiesName: Custom claim rule
                    type: string
                  description: |
                    A map of claim names to pattern strings used to match against arbitrary claims in the OIDC identity token.
                    Patterns can include `*` characters to match against any character.

                    Only applies to federated identities.
                  example:
                    exampleAdditionalClaim: valueToMatch
                    otherAdditionalClaim: valueWithWildcard*
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Key'
        '404':
          description: Tailnet not found.
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  /tailnet/{tailnet}/keys/{keyId}:
    parameters:
      - $ref: '#/components/parameters/tailnet'
      - $ref: '#/components/parameters/keyId'
    get:
      summary: Get key
      description: |
        Returns a JSON object with information about a specific api access token, OAuth client, federated identity, or auth key, such as its creation and expiration dates and its capabilities.

        OAuth Scope: `api_access_tokens:read` grants access to personal API access tokens.

        OAuth Scope: `auth_keys:read` grants access to machine auth keys.

        OAuth Scope: `oauth_keys:read` grants access to OAuth clients and OAuth tokens.

        OAuth Scope: `federated_keys:read` grants access to federated identities.
      operationId: getKey
      tags:
        - Keys
      responses:
        '200':
          description: |
            Successful operation.

            Response for a revoked (deleted) or expired key will have an `invalid` field set to true.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Key'
        '404':
          description: Tailnet or key not found.
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
    delete:
      summary: Delete key
      description: |
        Deletes a specific api access token or auth key.

        OAuth Scope: `api_access_tokens` grants access to personal API access tokens.

        OAuth Scope: `auth_keys` grants access to machine auth keys.

        OAuth Scope: `oauth_keys` grants access to OAuth clients and OAuth tokens.

        OAuth Scope: `federated_keys` grants access to federated identities.
      operationId: deleteKey
      tags:
        - Keys
      responses:
        '200':
          description: Successful operation.
        '403':
          description: User does not have sufficient access to delete this key.
          $ref: '#/components/responses/403'
        '404':
          description: Tailnet not found.
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
    put:
      summary: Set key
      description: |
        Set the configuration for an existing OAuth client or federated identity.

        OAuth Scope: `oauth_keys` grants access to OAuth clients.

        OAuth Scope: `federated_keys` grants access to federated identities.
      operationId: setKey
      tags:
        - Keys
      requestBody:
        description: |
          The supported fields vary depending on the value of the `keyType` field.
        content:
          application/json:
            schema:
              type: object
              properties:
                keyType:
                  type: string
                  enum:
                    - client
                    - federated
                  description: |
                    The type of the key being updated.
                description:
                  type: string
                  description: |
                    A short string specifying the purpose of the key. Can be a maximum of 50 alphanumeric characters. Hyphens and spaces are also allowed.
                  example: dev access
                scopes:
                  type: array
                  description: |
                    A list of scopes to grant to the key. At least one scope is required.
                    See [trust credentials scopes](https://tailscale.com/kb/1623/trust-credentials#scopes) for a list of available scopes.
                  items:
                    type: string
                  example:
                    - all:read
                tags:
                  type: array
                  description: |
                    A list of tags associated to the trust credential. Auth keys created with this credential must have these exact tags, or tags owned by the credential's tags.
                    Mandatory if the scopes include "devices:core" or "auth_keys".
                  items:
                    type: string
                  example:
                    - tag:example
                issuer:
                  type: string
                  format: uri
                  description: |
                    The issuer of the OIDC identity token used in the token exchange. Must be a valid https:// URL.

                    Only applies to federated identities.
                  example: https://example.com
                subject:
                  type: string
                  description: |
                    The pattern used when matching against the `sub` claim from an OIDC identity token.
                    Patterns can include `*` characters to match against any character.

                    Only applies to federated identities.
                  example: my-example-subject-*
                audience:
                  type: string
                  description: |
                    The value used when matching against the `aud` claim from an OIDC identity token.

                    Only applies to federated identities.
                  example: api.tailscale.com/Tz8TefihCR11DEVEL-kqc11MVpwu11DEVEL
                customClaimRules:
                  type: object
                  additionalProperties:
                    x-additionalPropertiesName: Custom claim rule
                    type: string
                  description: |
                    A map of claim names to pattern strings used to match against arbitrary claims in the OIDC identity token.
                    Patterns can include `*` characters to match against any character.

                    Only applies to federated identities.
                  example:
                    exampleAdditionalClaim: valueToMatch
                    otherAdditionalClaim: valueWithWildcard*
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Key'
        '404':
          description: Tailnet not found.
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  /tailnet/{tailnet}/acl:
    parameters:
      - $ref: '#/components/parameters/tailnet'
      - $ref: '#/components/parameters/AcceptHeaderParam'
    get:
      summary: Get policy file
      description: |
        Retrieves the current policy file for the given tailnet; 
        this includes the ACL along with the rules and tests that have been defined.

        This method can return the policy file as JSON or HuJSON, depending on the Accept header.
        The response also includes an `ETag` header, which can be optionally included when [setting the policy file](#tag/policyfile/post/tailnet/{tailnet}/acl) to avoid missed updates.

        Learn more about [policy file ACL syntax](https://tailscale.com/kb/1337/acl-syntax).

        OAuth Scope: `policy_file:read`.
      operationId: getPolicyFile
      tags:
        - PolicyFile
      parameters:
        - name: details
          in: query
          required: false
          schema:
            type: boolean
          description: |
            Request a detailed description of the tailnet policy file by providing `details=true` in the URL query string.
            Supplying any other value for `details`, or not sending the param, is treated as sending `details=false`.
            If using this, do not supply an `Accept` parameter in the header.

            The response will contain a JSON object with the fields:
            - `acl`: a base64-encoded string representation of the huJSON format.
            - `warnings`: array of strings for syntactically valid but nonsensical entries.
            - `errors`: an array of strings for parsing failures.
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: object
              examples:
                exampleJSONPolicyFile:
                  summary: JSON response with details=false
                  $ref: '#/components/examples/ExampleJSONPolicyFile'
                exampleWithDetails:
                  summary: JSON response with details=true
                  value:
                    acl: Ly8gUG9raW5nIGFyb3VuZCBpbiB0aGUgQVBJIGRvY3MsIGhvcGluZyB5b3UnZCBmaW5kIHNvbWV0aGluZyBnb29kLCBlaD8KLy8gV2UgbGlrZSB5b3VyIHN0eWxlISAgR28gZ3JhYiB5b3Vyc2VsZiBhIFRhaWxzY2FsZSB0LXNoaXJ0IGlmIHRoZXJlIGFyZQovLyBzdGlsbCBzb21lIGF2YWlsYWJsZS4gQnV0IHNoaGguLi4gZG9uJ3QgdGVsbCBhbnlvbmUhCi8vCi8vICAgICAgICAgICAgIGh0dHBzOi8vc3dhZy5jb20vZ2lmdC82a29mNGs1Z3B1ZW95ZDB2NXd6MHJkYmMKewoJLy8gRGVjbGFyZSBzdGF0aWMgZ3JvdXBzIG9mIHVzZXJzIGJleW9uZCB0aG9zZSBpbiB0aGUgaWRlbnRpdHkgc2VydmljZS4KCSJncm91cHMiOiB7CgkJImdyb3VwOmV4YW1wbGUiOiBbInVzZXIxQGV4YW1wbGUuY29tIiwgInVzZXIyQGV4YW1wbGUuY29tIl0sCgl9LAoKCS8vIERlY2xhcmUgY29udmVuaWVudCBob3N0bmFtZSBhbGlhc2VzIHRvIHVzZSBpbiBwbGFjZSBvZiBJUCBhZGRyZXNzZXMuCgkiaG9zdHMiOiB7CgkJImV4YW1wbGUtaG9zdC0xIjogIjEwMC4xMDAuMTAwLjEwMCIsCgl9LAoKCS8vIEFjY2VzcyBjb250cm9sIGxpc3RzLgoJImFjbHMiOiBbCgkJLy8gTWF0Y2ggYWJzb2x1dGVseSBldmVyeXRoaW5nLgoJCS8vIENvbW1lbnQgdGhpcyBzZWN0aW9uIG91dCBpZiB5b3Ugd2FudCB0byBkZWZpbmUgc3BlY2lmaWMgcmVzdHJpY3Rpb25zLgoJCXsiYWN0aW9uIjogImFjY2VwdCIsICJ1c2VycyI6IFsiKiJdLCAicG9ydHMiOiBbIio6KiJdfSwKCV0sCn0K
                    warnings:
                      - '"group:example": user not found: "user1@example.com"'
                      - '"group:example": user not found: "user2@example.com"'
                    errors: null
            application/hujson:
              schema:
                type: string
              examples:
                exampleHuJSONPolicyFile:
                  $ref: '#/components/examples/ExampleHuJSONPolicyFile'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          description: Tailnet not found.
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
    post:
      summary: Set policy file
      description: |
        Sets the ACL for the given tailnet. HuJSON and JSON are both accepted inputs.
        An `If-Match` header can be set to avoid missed updates.

        On success, returns the updated ACL in JSON or HuJSON according to the `Accept` header.
        Otherwise, errors are returned for incorrectly defined ACLs, ACLs with failing tests on attempted updates, and mismatched `If-Match` header and `ETag`.

        Learn more about [policy file ACL syntax](https://tailscale.com/kb/1337/acl-syntax).

        OAuth Scope: `policy_file`.
      operationId: setPolicyFile
      tags:
        - PolicyFile
      parameters:
        - name: If-Match
          in: header
          required: false
          schema:
            type: string
          description: |
            This is a safety mechanism to avoid overwriting other users' updates to the tailnet policy file.

            - Set the `If-Match` value to that of the `ETag` header returned in a `GET` request to `/api/v2/tailnet/{tailnet}/acl`.
              Tailscale compares the `ETag` value in your request to that of the current tailnet file and only replaces the file if there's a match.
              (A mismatch indicates that another update has been made to the file.) For example: `-H "If-Match: \"e0b2816b418\""`.
            - Alternately, set the `If-Match` value to `ts-default` to ensure that the policy file is replaced *only if the current policy file is still the untouched default created automatically* for each tailnet.
              For example: `-H "If-Match: \"ts-default\""`.
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              exampleJSONPolicyFile:
                $ref: '#/components/examples/ExampleJSONPolicyFile'
          application/hujson:
            schema:
              type: string
            examples:
              exampleHuJSONPolicyFile:
                $ref: '#/components/examples/ExampleHuJSONPolicyFile'
      responses:
        '200':
          description: Successful operation.
          content:
            application/json:
              schema:
                type: object
              examples:
                exampleJSONPolicyFile:
                  $ref: '#/components/examples/ExampleJSONPolicyFile'
            application/hujson:
              schema:
                type: string
              examples:
                exampleHuJSONPolicyFile:
                  $ref: '#/components/examples/ExampleHuJSONPolicyFile'
        '400':
          description: ACL validation or test error.
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          description: Tailnet not found.
          $ref: '#/components/responses/404'
        '412':
          description: If-Match hash mismatch.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
                example:
                  message: precondition failed, invalid old hash
        '500':
          $ref: '#/components/responses/500'
      x-codeSamples:
        - label: Shell cURL
          lang: shell
          source: |-
            curl --request POST \
              --url https://api.tailscale.com/api/v2/tailnet/example.com/acl \
              --header 'Authorization: Bearer YOUR_SECRET_TOKEN' \
              --data-binary '{
              "acls": [
                {
                  "action": "accept",
                  "ports": [
                    "*:*"
                  ],
                  "users": [
                    "*"
                  ]
                }
              ],
              "groups": {
                "group:example": [
                  "user1@example.com",
                  "user2@example.com"
                ]
              },
              "hosts": {
                "example-host-1": "100.100.100.100"
              }
            }'
  /tailnet/{tailnet}/acl/preview:
    parameters:
      - $ref: '#/components/parameters/tailnet'
      - name: type
        in: query
        description: |
          Specify for which type of resource (user or IP port) matching rules are to be fetched.
          Read about [previewing changes in the admin console](https://tailscale.com/kb/1018/#previewing-changes).

          OAuth Scope: `policy_file:read`.
        required: true
        schema:
          type: string
          enum:
            - user
            - ipport
          x-enumDescriptions:
            user: |
              Specify `user` if the `previewFor` value is a user's email.
              Note that `user` remains in the API for compatibility purposes,
              but has been replaced by `src` in policy files.
            ipport: |
              Specify `ipport` if the `previewFor` value is an IP address and port.
              Note that `ipport` remains in the API for compatibility purposes,
              but has been replaced by `dst` in policy files.
          example: user
      - name: previewFor
        in: query
        description: |
          - If `type` is `user`, provide the email of a valid user with registered machines.
          - If `type` is `ipport`, provide an IP address + port: `10.0.0.1:80`.

          The supplied policy file is queried with this parameter to determine which rules match.
        required: true
        schema:
          type: string
          example: 10.0.0.1:80
    post:
      summary: Preview rule matches
      description: |
        When given a user or IP port to match against,
        returns the tailnet policy rules that apply to that resource,
        without saving the policy file to the server.
      operationId: previewRuleMatches
      tags:
        - PolicyFile
      requestBody:
        content:
          application/json:
            schema:
              type: object
            examples:
              exampleJSONPolicyFile:
                $ref: '#/components/examples/ExampleJSONPolicyFile'
          application/hujson:
            schema:
              type: string
            examples:
              exampleHuJSONPolicyFile:
                $ref: '#/components/examples/ExampleHuJSONPolicyFile'
      responses:
        '200':
          description: The list of rules that apply to the resource.
          content:
            application/json:
              schema:
                type: object
                properties:
                  matches:
                    type: array
                    items:
                      type: object
                      properties:
                        users:
                          type: array
                          items:
                            type: string
                          description: |
                            Source entities affected by the rule.
                          example:
                            - '*'
                        ports:
                          type: array
                          items:
                            type: string
                          description: |
                            Destinations that can be accessed.
                          example:
                            - '*.*'
                        lineNumber:
                          type: integer
                          description: |
                            The rule's location in the policy file.
                          example: 19
                      required:
                        - users
                        - ports
                        - lineNumber
                  type:
                    type: string
                    example: user
                    description: |
                      Echoes the `type` provided in the request.
                  previewFor:
                    type: string
                    example: user1@example.com
                    description: |
                      Echoes the `previewFor` provided in the request.
                required:
                  - matches
                  - type
                  - previewFor
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          description: Tailnet not found.
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
  /tailnet/{tailnet}/acl/validate:
    parameters:
      - $ref: '#/components/parameters/tailnet'
    post:
      summary: Validate and test policy file
      description: |
        This endpoint works in one of two modes, neither of which modifies your current tailnet policy file:

        - Run ACL tests: When the request body contains ACL tests as a JSON array,
          Tailscale runs ACL tests against the tailnet's current policy file.
          Learn more about [ACL tests](https://tailscale.com/kb/1337/acl-syntax#tests).
        - Validate a new policy file: When the request body is a JSON object,
          Tailscale interprets the body as a hypothetical new tailnet policy file with new ACLs,
          including any new rules and tests.
          It validates that the policy file is parsable and runs tests to validate the existing rules.

        In either case, this method does not modify the tailnet policy file in any way.

        OAuth Scope: `policy_file:read`.
      operationId: validateAndTestPolicyFile
      tags:
        - PolicyFile
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - type: array
                  items:
                    type: object
                    properties:
                      src:
                        type: string
                        example: dave@example.com
                        description: |
                          Specifies the user identity to test, which can be 
                          a [user's email address](https://tailscale.com/kb/1337/acl-syntax#reference-users),
                          a [group](https://tailscale.com/kb/1337/acl-syntax#groups),
                          a [tag](https://tailscale.com/kb/1068/acl-tags),
                          or a [host](https://tailscale.com/kb/1337/acl-syntax#hosts) that maps to an IP address.
                          The test case runs from the perspective of a device authenticated with the provided identity.
                      srcPostureAttrs:
                        type: object
                        description: |
                          Specifies the [device posture attributes](https://tailscale.com/kb/1337/acl-syntax#proto-1)
                          as key-value pairs to use when evaluating posture conditions in access rules.
                          You only need to use this field if the access rules contain 
                          [device posture conditions](https://tailscale.com/kb/1288/device-posture#device-posture-conditions).
                        additionalProperties:
                          x-additionalPropertiesName: Posture attributes
                          anyOf:
                            - type: string
                            - type: number
                            - type: boolean
                        example:
                          node:os: windows
                      proto:
                        type: string
                        example: tcp
                        description: |
                          Specifies the IP protocol for `accept` and `deny` rules,
                          similar to the `proto` field in [ACL rules](https://tailscale.com/kb/1337/acl-syntax#acls).
                          When omitted, the test checks for either TCP or UDP access.
                      accept:
                        type: array
                        items:
                          type: string
                        description: |
                          Specifies destinations to accept. Each destination in the list is of the form `host:port`
                          where `port` is a single numeric port and `host` is in the format described in the
                          [acl syntax](https://tailscale.com/kb/1337/acl-syntax#accept-and-deny-destinations) documentation.

                          Sources in `src` and `destinations` must refer to specific entities and do not support `*` wildcards.
                          For example, an `accept` destination cannot be `tags:*`.
                      deny:
                        type: array
                        items:
                          type: string
                        description: |
                          Specifies destinations to deny. Each destination in the list is of the form `host:port`
                          where `port` is a single numeric port and `host` is in the format described in the
                          [acl syntax](https://tailscale.com/kb/1337/acl-syntax#accept-and-deny-destinations) documentation.

                          Sources in `src` and `destinations` must refer to specific entities and do not support `*` wildcards.
                          For example, a `deny` destination cannot be `tags:*`.
                    required:
                      - src
                  description: |
                    Array of ACL tests.
                - type: string
                  description: |
                    The JSON representation of the policy file.
            examples:
              aclTest:
                summary: Perform ACL tests
                value:
                  - src: user1@example.com
                    accept:
                      - example-host-1:22
                    deny:
[...]
