wrap ward-kdl ops forgejo {
    spec forgejo.swagger.v1.json
    base-url "forgejo.coilysiren.me/api/v1"
    auth header-token {
        header Authorization
        prefix "token "
        ssm "/forgejo/api-token"
    }

    can read orgs
    can list orgs
    can create orgs
    can delete orgs

    // can create issues
    // can list issues
    // can view issues
    // can edit issues
    // can comment issues
    // can close issues
    // can reopen issues
    // can delete issues
}
